.event-edit {
  padding: 10px 20px;
  border: 1px solid #444;
}
.event-edit__field {
  margin-bottom: 10px;
}
.event-edit__name {
  font-size: 18px;
  font-weight: normal;
}
.event-edit__input {
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
}
