body {
  margin: 2em;
  background-color: #000;
  font-size: 14px;
  color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: normal;
  color: #ddd;
}
.layout-column-left {
  float: left;
  width: 70%;
}
.layout-column-right {
  float: left;
  width: 30%;
}
